:root {
    color: #ffff;
    /* transform: ; */
    
}

body {
    font: normal 100%/1.5 "Raleway", sans-serif;
    background-color: #00f;
}

/* @media screen and (max-width: 1000px) {
    body {
        font-size: 0.8rem;
    }
    main {
        width: 100vw;
    }
    svg {
        width: 100vw;
        height: 100vh;
    }
} */




h3 {
    font: 300 1.5rem/1.5 "Raleway", sans-serif;

}

.container {
    /* max-height: 1000px; */
    margin: 0 auto;
    height: 100vh;
    /* 100% del alto de la ventana */
    /* background-color: rgb(0, 0, 255);
    Color de fondo azul */
    width: 100vw;
    display: grid;
    max-height: 100vh;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 70px auto 70px;
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
    /* overflow: hidden; */
}

#titleIcon {
    background-color: #00f;
}

header {
    grid-area: header;
    /* background-color: rgb(0, 0, 255); */
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: end;
    align-items: center;
    gap: 0.8em;
    padding: 1.5em 1.5em;
    width: 90vw;


}

header a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    font-size: 1.2em;
    /* transition: transform 0.3s ease-out; */

}

header a:hover {
    opacity: 1;
    transform: scale(1.05);
}



main {
    grid-area: main;
    display: flex;
    height: 80vh;
    width: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    max-width: 80vw;
}

svg {
    width: 70vw;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

footer {
    grid-area: footer;
    color: #ffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    font-size: 1rem;
    opacity: 0.9;
    padding: 0 10rem;
}

footer .links {
    display: flex;
    gap: 1em;
    font-size: 1rem;
}

footer .ref {
    font-size: 1rem;
}


/* tspan {
    white-space: pre;
} */


.a {
    font-size: 41px;
    fill: #ffff;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    opacity: 0;
    animation: fadeIn 2.5s ease-in forwards, shadow 3s ease-in-out infinite;
    /* animation: shadow 3s cubic-bezier(0.445, 0.05, 0.55, 0.95); */

}

.a:hover {
    fill: red;
}

.b {
    fill: none;
    stroke: #ffff;
    stroke-miterlimit: 100;
    stroke-width: 0.4;
    stroke-dasharray: 500;
    stroke-dashoffset: 100;
    animation: drawLine 10s ease-in forwards, shadow 3s ease-in-out infinite;
}

.c {
    font-size: 25px;
    fill: #ffff;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    opacity: 0;
    animation: fadeIn 12s ease-in forwards, shadow 10s ease-in-out;
}


@keyframes drawLine {
    0% {
        stroke-dashoffset: 1500;
    }

    50% {
        stroke-dashoffset: 100;
        /* stroke-dasharray: 300; */
    }

    95% {
        stroke-dashoffset: 1500;
        stroke-dasharray: 100;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1500;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 0.8;
    }
}

@keyframes shadow {
    0% {
        text-shadow: 0 0 0 #ffff;
    }

    100% {
        text-shadow: 0 0 20px #ffff;
    }
}


.c:hover {
    fill: green;
    opacity: 1;
    cursor: pointer;
}

.c:active {
    fill: yellow;
    opacity: 1;
}

c:visited {
    fill: white;
    opacity: 1;
}


.floating-image {
    position: fixed;
    top: 0;
    left: 0;
    /* Animación de movimiento */
    animation: floatAnim 20s infinite;
    transition: transform 0.5s ease-in;
}

@keyframes floatAnim {
    0% {
        transform: translateX(-10vw) translateY(0vh) scale(1);
        opacity: 1;
    }

    20% {
        transform: translateX(100vw) translateY(20vh) scale(0.5);
        opacity: 0.5;
    }

    40% {
        transform: translateX(-10vw) translateY(80vh) scale(0.8);
        opacity: 0.8;
    }

    50% {
        transform: translateX(10vw) translateY(10vh) scale(1.2);
        opacity: 1;
    }

    62% {
        transform: translateX(5vw) translateY(0vh) scale(0.5);
        opacity: 0.5;
    }

    67% {
        transform: translateX(10vw) translateY(10vh) scale(0.7);
        opacity: 0.7;
    }

    80% {
        transform: translateX(5vw) translateY(0vh) scale(0.3);
        opacity: 0.2;
    }

    92% {
        transform: translateX(10vw) translateY(10vh) scale(1.3);
        opacity: 1;
    }

    100% {
        transform: translateX(-10vw) translateY(0vh) scale(0.5);
        opacity: 0.3;
    }

}



.floating-image:hover {
    animation-play-state: paused;
    /* transform: scale(2); */
    cursor: pointer;
}


#bio {
    position: absolute;
    max-width: 40vw;
    width: 20vw;
    min-width: 250px;
    top: 6vh;
    left: 40vw;
    z-index: 9;
    border: #00f 2px solid;
    flex-direction: column;
    display: none;
    opacity: 0.8;
    /* fill: green; */
    font-size: 1rem;
    cursor: grab;
    border-radius: 0.5em;
    color: #00f;
    font-weight: 200;
    background: #ffff;
    backdrop-filter: blur(20px);
    box-shadow:#000 0 0 20px;
}

#bioheader {
    flex-direction: row-reverse;
    font: 400 1.5rem/1.5 "Raleway", sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0.5rem;
    z-index: 10;
    fill-opacity: 1;
    border-bottom: 2px solid #00f;
    width: 100%;
    padding: 0em 1em;
    color: #00f;

}

#bio p {
    margin-top: 1rem;
    padding: 1em 2em;
    font-size: 0.8em;

}

#bio img {
    max-height: 30vh;
    border-radius: 0.2em;
    margin-top: 1rem;
    /* padding: 1rem 2em; */

}


.close {
    cursor: pointer;
    float: right;
    position: absolute;
    height: auto;
    top: -0.9rem;
    right: 0.5rem;
    font-size: 2.5rem;
    z-index: 20;

}


/* obras */


.obraEmergente {
    position: absolute;
    max-width: 25vw;
    /* min-width: 300px; */
    flex-direction: column;
    display: none;
    font-size: 1rem;
    cursor: grab;
    border-radius: 0.5em;
    color: #ffff;
    font-weight: 200;
    font-size: 1rem;
    opacity: 0.8;
    backdrop-filter: blur(20px);
    border: #ffff 1px solid;
    box-shadow:#000 0 0 20px;

}

.obraEmergente button {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.obraEmergente img {
    max-width: 100%;
    /* max-height: 30vh; */
    height: auto;
    width: auto;
    border-radius: 0.5em;
}

.obraEmergente .textDescription {
    /* display: none; */
    padding-bottom: 1rem;
}

.obraEmergente p {
    padding: 1rem;
    text-align:justify;
}

.obraEmergente h3{
    padding: 1rem;
    border-bottom: #ffff 2px solid;
}

#obra1 {
    top: 19vh;
    left: 30vw;
    z-index: 9;
}

#obra1 h3 {
    background-color: silver;
}

#obra2 {
    top: 37vh;
    left: 53vw;
    z-index: 10;

}

#obra2 h3 {
    background-color: rgb(255, 217, 0, 0.3);
}

#obra3 {
    position: absolute;
    top: 86vh;
    left: 35vw;
    z-index: 11;
}

#obra3 h3 {
    background-color: green;
}


.video-container {
    position: fixed;
    display: none;
    width: 80vw;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    top: 20vh;
    left: 20vw;
    z-index: 15;

}

.video-container .close {
    font-size: 2.5rem;
    left: 60vw;
    top: -4vh;
}

.mostrar {
    display: block;
    animation: fadeIn 0.5s ease-in forwards;
}